<html>
    <head>
        <title>Search for a Artist in your Collection</title>
    </head>
    <body>
        <h1>Search for a Artist in your Collection</h1>
        <form action='/search_results'>
            <label for='artist'>Artist Name?</label>
            <input id='artist' name='artist' type='text'>
            <button type='submit' class='btn'>Search</button>
        </form>
    </body>
</html>
